@model Super.Contabilita.Commands.Impianto.CreateImpianto
@{
    ViewBag.Title = "add impianto";
    Layout = string.Empty;
}
<form id="formDetails">
<fieldset>
    <legend>Impianto</legend>
    <div class="editor-label">
        @Html.LabelFor(model => model.Description)*
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Description, "koStringEditorFor", new { koObservablePrefix = "SelectedItem", @class = "required" })
        @Html.ValidationMessageFor(model => model.Description)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Intervall.Start)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Intervall.Start, "koDateEditorFor", new { koObservablePrefix = "SelectedItem" })
        @Html.ValidationMessageFor(model => model.Intervall.Start)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Intervall.End)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Intervall.End, "koDateEditorFor", new { koObservablePrefix = "SelectedItem" })
        @Html.ValidationMessageFor(model => model.Intervall.End)
    </div>
</fieldset>
</form>
<script>
    $(document).ready(function () {
        $('.date').datepicker({ dateFormat: "dd/mm/yy" });
        $.validator.unobtrusive.addValidation('#formDetails');

    });
</script>
