@{
    ViewBag.Title = "impianto";
    Layout = "~/Content/Layout/Earthlingtwo/_Layout.cshtml";// "~/Views/Shared/_LayoutDetailTemplate.cshtml"
}

@section JavaScript {
    <script src="@Url.Content("~/Scripts/Contabilita/Commands/valueObjects.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Contabilita/Commands/cmd-impianto.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Contabilita/Repository/r-impianto.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Contabilita/Model/m-impianto.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Contabilita/ViewModel/vm-impianto.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Contabilita/View/v-impianto.js")" type="text/javascript"></script>
}

<h2>
    impianto</h2>
<div id="FilterResults">
    <form id="formFilter" class="formFilter">
    <fieldset>
        <legend>Filtro</legend>
        <label>
            Description :</label><input type="text" id="filtroDescription" data-bind=" value:Description " />
        <div style="clear: both;">
            &nbsp;</div>
        <a class="button" data-bind="click: GetItems.bind($data, 1)" href="#">Visualizza</a>
    </fieldset>
    </form>
</div>
<div id="List" data-bind='template: "impiantoListTemplate"'></div>
<br />
<div id="pagination" class="pagebar">
</div>
<p>
    <a class="button" data-bind="click: ShowAddItem" href="#">Aggiungi impianto</a>
</p>
<div id="details" style="overflow: hidden;"></div>

<script type="text/html" id="impiantoListTemplate">
    <table width=100% class="table-standard"> 
        <tr>
            <th>
                Description
            </th>
            <th>
                Start
            </th>
            <th>
                End
            </th>
            <th>
                CreationDate
            </th>
            <th colspan="2">
                Azione
            </th>
        </tr>
        
        <% _.each(Items(), function(item) { %>
        <tr>
            
            <td>
                <%= item.Description() %>
            </td>
            
            <td>
                <%= item.Intervall.Start() %>
            </td>
            <td>
                <%= item.Intervall.End() %>
            </td>
            <td>
                <%= item.CreationDate() %>
            </td>
            <td>
                <a data-bind="click: function() { viewModel.ShowEditItem(item) }" href="#"><img src="@Url.Content("~/Images/Edit.gif")" border=0></a>
            </td>
            <td>
                <a data-bind="click: function() { viewModel.DeleteItem(item) }" href="#"><img src="@Url.Content("~/Images/Delete.gif")" border=0></a>
            </td>
        </tr>
        <% }) %>
    </table>
</script>

<script language="javascript">



    //get the element of the page
    var details = $("#details"); //div that holds the modal dialog
    var detailsForm = $("#formDetails");
    var pagination = $("#pagination");
    
    var urlCreate = "@Url.Action("Create")";
    var urlUpdate = "@Url.Action("Update")";
    var urlDelete = "@Url.Action("Delete")";
    var urlGetItems ="@Url.Action("GetItems")";
    
    //build  objects
    var view = new View(new Spinner(), pagination);
    var repository = new Repository(urlCreate, urlUpdate, urlDelete, urlGetItems);

    var viewModel = new ViewModel(repository, "details", "formDetails", view, 1, 10, urlUpdate,urlCreate);
    ko.applyBindings(viewModel);

    viewModel.GetItems(viewModel.PageNum());
       
</script>
@*
<script src="http://localhost:8091/socket.io/socket.io.js"></script>
<script>
    var socket = io.connect('http://localhost:8091');
    socket.on('Events_Impianto_ImpiantoCreata:Events', function (msg) {
        var jsonString = Utf8.decodeArray(msg.data);
        alert(jsonString);
    });
</script>*@
