@model Commands.AreaIntervento.CreareNuovoAreaIntervento
@{
    ViewBag.Title = "add Area Intervento";
    Layout = string.Empty;
}
<form id="formDetails">
<fieldset>
    <legend>AreaIntervento</legend>
    <div class="editor-label">
        @Html.LabelFor(model => model.IdAreaInterventoSuper)*
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.IdAreaInterventoSuper, "koStringEditorFor", new { koObservablePrefix = "SelectedItem", @class = "required" })
        @Html.ValidationMessageFor(model => model.IdAreaInterventoSuper)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Descrizione)*
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Descrizione, "koStringEditorFor", new { koObservablePrefix = "SelectedItem", @class = "required" })
        @Html.ValidationMessageFor(model => model.Descrizione)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Inizio)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Inizio, "koDateEditorFor", new { koObservablePrefix = "SelectedItem" })
        @Html.ValidationMessageFor(model => model.Inizio)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Fine)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Fine, "koDateEditorFor", new { koObservablePrefix = "SelectedItem" })
        @Html.ValidationMessageFor(model => model.Fine)
    </div>
</fieldset>
</form>
<script>
    $(document).ready(function () {
        $('.date').datepicker({ dateFormat: "dd/mm/yy" });

        
    });
</script>
