@model Core_Web.Models.EditImpianto
@{
    ViewBag.Title = "edit impianto";
    Layout = string.Empty;
}
<div id="error_mssg" class="hidden"></div>
<form id="formDetails">
    <fieldset>
        <legend>Impianto</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Description)*
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Description, new { @class = "validate[required]" })
        </div>
         <div class="editor-label">
            Lotto*
        </div>
        <div class="editor-field">
            @Model.LottoDescription
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Start)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Start, new { @class = "validate[required,funcCall[checkInterval]] datepicker ", @Value = Model.Start.ToString("dd/MM/yyyy") })
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.End)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.End, new { @class = "validate[required,funcCall[checkInterval]] datepicker ", @Value = Model.End.HasValue ? Model.End.Value.ToString("dd/MM/yyyy") : string.Empty })
        </div>
    </fieldset>
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model=>model.CommitId)
    @Html.HiddenFor(model=>model.Version)
</form>
<script>

    
    $(document).ready(function () {
        $('.datepicker').datepicker({ dateFormat: "dd/mm/yy" });
        jQuery("#formDetails").validationEngine();
        

        viewModel.Accept = function (self) {

            jQuery('#formDetails').validationEngine({ scroll: false });
            if(jQuery('#formDetails').validationEngine('validate')) {

                var id = $('#Id').val();
                var commitId = $('#CommitId').val();
                var version = $('#Version').val();
                var description = $('#Description').val();
                var start = $(jq('Start')).datepicker( "getDate" );
                var end = $(jq('End')).datepicker( "getDate" );
                

                var url = "@Url.Action("UpdateImpianto")";


                var interval = new Interval(start, end);


                try 
                {
                    var command = new UpdateImpianto(id, commitId, version,  interval, description);

                    self.UpdateImpianto(url, command);
                } catch(e)
                {
                    alert(e);
                }
            }
        };
        
       
        
    });
</script>
