@{
    ViewBag.Title = "Lotto";
    Layout = "~/Content/Layout/Earthlingtwo/_Layout.cshtml";// "~/Views/Shared/_LayoutDetailTemplate.cshtml"
}
@section JavaScript {
    <script src="@Url.Content("~/Scripts/Super/Contabilita/Commands/vo-interval.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Super/Contabilita/Commands/cmd-Lotto.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Super/Contabilita/ViewModel/vm-Lotto-index.js")" type="text/javascript"></script>
}
<h2>
    lotto</h2>
<div id="FilterResults">
    <form id="formFilter" class="formFilter">
    <fieldset>
        <legend>Filtro</legend>
        <label>
            Description :</label><input type="text" id="filtroDescription" data-bind=" value:Description " />
        <div style="clear: both;">
            &nbsp;</div>
        <a class="button" data-bind="click: GetItems.bind($data, 1)" href="#">Visualizza</a>
    </fieldset>
    </form>
</div>
<div id="List" data-bind='template: "lottoListTemplate"'></div><br />
<div id="pagination" class="pagebar"></div>
<p>
    <a class="button" data-bind="click: ShowCreateLotto" href="#">Aggiungi lotto</a>
</p>


<div id="details" style="overflow: hidden;">
</div>
<script type="text/html" id="lottoListTemplate">
    <table width=100% class="table-standard"> 
        <tr>
            <th>
                Description
            </th>
            <th>
                Start
            </th>
            <th>
                End
            </th>
            <th>
                CreationDate
            </th>
            <th colspan="2">
                Azione
            </th>
        </tr>
        
        <% _.each(Items(), function(item) { %>
        <tr>
            
            <td>
                <%= item.Description() %>
            </td>
            <td>
                <%= item.Start() %>
            </td>
            <td>
                <%= item.End() %>
            </td>
            <td>
                <%= item.CreationDate() %>
            </td>
            <td>
                <a data-bind="click: function() { viewModel.ShowEditLotto(item) }" href="#"><img src="@Url.Content("~/Images/Edit.gif")" border=0></a>
            </td>
            <td>
                <a data-bind="click: function() { viewModel.ShowDeleteLotto(item) }" href="#"><img src="@Url.Content("~/Images/Delete.gif")" border=0></a>
            </td>
        </tr>
        <% }) %>
    </table>
</script>


<script language="javascript">

    
    var urlCreateLotto = "@Url.Action("CreateLotto", "Lotto")";
    var urlFetchBuilderEditLotto = new UrlFetchBuilder("@Url.Action("EditLotto", "Lotto")");
    var urlFetchBuilderDeleteLotto = new UrlFetchBuilder("@Url.Action("DeleteLotto", "Lotto")");
    var urlGetItems ="@Url.Action("GetItems", "Lotto")";
    
    

    var viewModel = new vmStuff( 1, 10,
        urlGetItems,
        urlCreateLotto,
        urlFetchBuilderEditLotto,
        urlFetchBuilderDeleteLotto);
    ko.applyBindings(viewModel);

    viewModel.GetItems(viewModel.PageNum());
       
</script>
@*
<script src="http://localhost:8091/socket.io/socket.io.js"></script>
<script>
    var socket = io.connect('http://localhost:8091');
    socket.on('Events_Lotto_LottoCreata:Events', function (msg) {
        var jsonString = Utf8.decodeArray(msg.data);
        alert(jsonString);
    });
</script>*@ 