@model Core_Web.Models.CreateAppaltatore
@{
    ViewBag.Title = "add appaltatore";
    Layout = string.Empty;
}
<div id="error_mssg" class="hidden"></div>
<form id="formDetails">
    <fieldset>
        <legend>Appaltatore</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Description)*
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Description, new { @class = "validate[required]" })
        </div>
       
    </fieldset>
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model=>model.CommitId)
    @Html.HiddenFor(model=>model.Version)
</form>
<script>

    
    $(document).ready(function () {
        $('.datepicker').datepicker({ dateFormat: "dd/mm/yy" });
        jQuery("#formDetails").validationEngine();
        

        viewModel.Accept = function (self) {

            jQuery('#formDetails').validationEngine({ scroll: false });
            if(jQuery('#formDetails').validationEngine('validate')) {

                var id = $('#Id').val();
                var commitId = $('#CommitId').val();
                var version = $('#Version').val();
                var description = $('#Description').val();
                var idAppaltatore = $('#IdAppaltatore').val();
              
                var url = "@Url.Action("CreateAppaltatore", "Appaltatore")";

             
                try 
                {
                    var command = new CreateAppaltatore(id, commitId, version,   description,idAppaltatore);

                    self.CreateAppaltatore(url, command);
                } catch(e) {
                    alert(e);
                }
            }
        };
        
       
        
    });
</script>
